{% extends  'user/base.html.twig' %}
{% block template_name %}payments{% endblock %}
{% block content %}
    <h2>{% block title %}Default title{% endblock %}</h2>
    {% block payments_content %}
    {% endblock %}
{% endblock %}
