{% extends 'user/base.html.twig' %}
{% block template_name %}support{% endblock %}
{% block header_title %}{% trans %}support{% endtrans %}{% endblock %}
{% block content %}
    <nav class="navigation">
        <ul class="vertical">
            <li><a class="red" href="{{ path('support_ticket_list') }}">{% trans %}support_ticket_list{% endtrans %}</a></li>
            <li><a class="gold" href="{{ path('support_ticket_new') }}">{% trans %}support_ticket_new{% endtrans %}</a></li>
        </ul>
    </nav>
    {% block support_content %}
    {% endblock %}
{% endblock %}
