{% extends 'user/base.html.twig' %}
{% block header_title %}{% trans %}ranking{% endtrans %}{% endblock %}
{% block template_name %}ranking{% endblock %}
{% block content %}
    <form>
        <div class="form-row">
            <label for="search">
                {% block search_label %}search{% endblock %}
            </label>
            <input id="search" name="search" class="input-medium">
            <button class="button-medium">{% trans %}search{% endtrans %}</button>
        </div>
    </form>
    <div class="ranking-buttons-wrapper">
        <a href="{{ path("ranking_characters") }}" class="button-small">{% trans %}characters{% endtrans %}</a>
        <a href="{{ path("ranking_guilds") }}" class="button-small">{% trans %}guilds{% endtrans %}</a>
    </div>
    {% block ranking_table %}
    {% endblock %}
{% endblock %}
