.demo-container {
  background: rgba(114, 128, 140, 0.5);;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;

  .demo-content {
    color: #000;
    width: 500px;
    border: 1px black solid;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(215, 227, 233, 0.9);

    .demo-header {
      position: relative;

      h3 {
        text-align: center;
        font-size: 25px;
        color: #265267;
      }

      .demo-header-close-button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .demo-body {
      text-align: center;

      .demo-body-img-wrapper {
        img {
          width: 100%;
          height: 100%;
        }
      }

      .demo-body-data-wrapper {
        padding: 10px;
        display: flex;
        justify-content: space-around;
        color: #000;

        .demo-body-data-block {
          text-align: center;
          width: 130px;

          .demo-body-data-row {

            &:first-child {
              margin-bottom: 2px;
            }

            &:not(:first-child) {
              margin-bottom: 5px;
            }

            span {
              display: block;

              &:first-child {
                font-weight: bold;
              }

              &.global-admin {
                color: #8b0000;
              }

              &.admin {
                color: #FF2C00;
              }

              &.user {
                color: #207cab;
              }
            }
          }
        }
      }
    }
  }
}

.demo-minimized {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 125px;

  img {
    width: 100%;
    height: 100%;
  }
}
