<div class="elements-controller" data-element="{{ element }}" data-target="#{{ id }}">
    <button type="button" class="btn btn-default btn-sm checkbox-toggle">
        <i class="fa fa-square-o"></i>
    </button>
    <div class="btn-group">
        <button id="delete-button" type="button" class="btn btn-default btn-sm">
            <i class="fa fa-trash-o"></i>
        </button>
    </div>
</div>
