<div class="user-panel">
    <div class="pull-left image">
        <img src="{{ asset('build/images/static/adminlte/default_avatar_static.png') }}" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>{{ app.user }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
