body {
  background: url('../../images/main/background.jpg') center center repeat;
}

a {
  text-decoration: none;
  color: $defaultLinkColor;
}

ol, ul, p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  border: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

textarea:focus,
input:focus,
button:focus,
select:focus {
  outline: none;
}
