<div id="authors" class="welcome">
    <div class="welcome-content">
        <div class="welcome-languages">
            <div class="welcome-languages-info">
                <p>
                    <span>{% trans from 'authors' %}graphic_design{% endtrans %}:</span>: <a style="color: #000;" href="#">Mateusz Tobolski</a>
                </p>
                <p>
                    <span>{% trans from 'authors' %}implementer{% endtrans %}:</span>:
                    <a style="color: #000;" href="#">Mateusz Bątruk</a>
                </p>
            </div>
        </div>
        <div class="welcome-languages">
            <div class="welcome-languages-info">
                <p>
                    <span id="top-mover" style="cursor: pointer;">{% trans %}scroll_back_to_top{% endtrans %}</span>
                </p>
            </div>
        </div>
    </div>
</div>
