<section class="box">
    <header class="box-header">
        <h3>{% trans %}event_calendar{% endtrans %}</h3>
    </header>
    <div class="box-middle">
        <div class="box-content">
            <div id="calendar" class="frame-box calendar"></div>
        </div>
    </div>
</section>
