<header class="box-center-header">
    <div class="box-center-header-download">
        <a href="{{ path('download_mirrors') }}" class="button-download">{% trans %}download.caption{% endtrans %}</a>
    </div>
</header>
