<header class="header">
    <div class="header-content">
        <div class="logo-wrapper">
            <a href="/" class="logo"></a>
            <p class="caption">{{ project_name }} - {% trans %}project_caption{% endtrans %}</p>
        </div>
    </div>
</header>
