{% extends 'admin/base.html.twig' %}
{% form_theme form 'admin/form_theme.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">support_tickets</h3>
                </div>
                <div class="box-body">
                    <div class="box-body pad">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">
                                    {% trans %}publish{% endtrans %}
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">support_tickets</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
