{% extends 'admin/base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-solid box-primary">
                <div class="box-header">
                    {% trans %}promotion_list{% endtrans %}
                </div>
                <div class="box-body">
                    {% include 'admin/promotion/partials/promotion_table.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
